**/.idea/
!*.idea/runConfigurations
!*.idea/runConfigurations/ConfigServerApplication.xml
!*.idea/runConfigurations/DiscoveryServerApplication.xml
!*.idea/runConfigurations/TweetEdgeWebClientApplication.xml
!*.idea/runConfigurations/TweetQueryApplication.xml
!*.idea/runConfigurations/TweetWriterApplication.xml
!*.idea/codeStyleSettings.xml
!*.idea/compiler.xml
!*.idea/externalDependencies.xml
!*.idea/misc.xml
!*.idea/jsLibraryMappings.xml
!*.idea/watcherTasks.xml
#**/*.iml
**/*.ipr
**/*.iws

**/.gradle/
**/build/
**/gradle/
**/gradlew*
**/classes/

**/dist/
*.log
**/node_modules/
**/src/main/resources/static
**/src/main/resources/public

**/.project
**/.settings/
