**/.idea/
!*.idea/runConfigurations/
!*.idea/codeStyleSettings.xml
!*.idea/jsLibraryMappings.xml
!*.idea/watcherTasks.xml
**/*.iml
**/*.ipr
**/*.iws

**/.gradle/
**/build/
**/gradle/
**/gradlew*
**/classes/

**/dist/
*.log
**/yarn.lock
**/node_modules/
**/src/main/resources/static
**/src/main/resources/public

**/.project
**/.settings/
