prefix = '../../../../resources/fonts/fonts4web.ru/BadScriptRegular/BadScriptRegular.'

@font-face
  font-family 'BadScriptRegular'
  src url(prefix + 'eot')
  src url(prefix + 'eot?#iefix') format('embedded-opentype'), url(prefix + 'woff') format('woff'), url(prefix + 'ttf') format('truetype')
  font-style normal
  font-weight normal

#nav-header
  font-family 'BadScriptRegular'
  font-weight bolder
  font-size 1000%
  padding 2% 0

  .active
    color: darkgrey
    text-decoration none
    transition: color 1s ease

  .active:hover
    color #707070
