@media (min-width 150px)
  ul.nav.navbar-nav
    display inline-block
    text-align center
    float none

.nav a
  border-radius 25%
  color grey
  transition all 0.7s ease

.nav a:hover
  border-radius 50%
  color #707070
  font-size 105%
