.search-video-bar, .search-video-bar-by-typing
  padding 0 2%

.youtube-video-list-item
  img
    maxWidth 100px

.video-list .list-group-item
  cursor pointer

  :hover
    background-color lightgrey
